body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
}

button:hover {
  background-color: #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 4px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

td {
  cursor: default;
  border: 2px solid #f4f4f4;
}

#sql-query-container:not(:empty) {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

#sql-query-container:empty {
  display: none;
}

.popup {
  position: absolute;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.popup button {
  align-self: flex-end;
  margin-bottom: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.loading-indicator {
  text-align: center;
  font-weight: bold;
}

.accordion-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-bottom: 2px solid #ddd;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  font-weight: bold;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  white-space: pre-wrap;
  overflow: auto;
}
